/*-------------------------------------------------
Daniel OUATTARA- daniel.ouattara_AT_gmx.com
31 05 2020
Sass Tutorial from: https://www.w3schools.com/sass/
 --------------------------------------------------*/

$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 30%;

div {
  margin-bottom: 50px;
}

#h1-01, #p-01, #div-01 {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#div-01 {
  width: $myWidth;
  border: 2px solid grey;
}

/*---------------------*/
// whithout global
$myColor-2: green;

#h1-02 {
  $myColor-2: blue;
  color: $myColor-2;
}

#p-02 {
  color: $myColor-2;
}

/*---------------------*/
//  with global
$myColor-3: yellow;

#h1-03 {
  $myColor-3: rgb(234, 0, 255) !global;
  color: $myColor-3;
}

#p-03 {
  color: $myColor-3;
}

